@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@plugin "flowbite/plugin";

@theme {
    --font-noto-serif: 'Noto Serif', serif;
    --font-manrope: 'Manrope', sans-serif;
    --font-abril-fatface: 'Abril Fatface', cursive;

    --color-dark-backdrop: #000000;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 800;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('../fonts/AbrilFatface-Regular.ttf') format('truetype');
    font-weight: 400;
}

@utility light-brown-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #C5A880;
    }
}


input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

